<div class="jumbotron row" *ngIf="todoInput">
  <div class="Afficher row" *ngIf="!edit">
  <p class="col-md-12"> <label class="col-md-6">texte : </label><span class="col-md-6" >{{todoInput.text}}</span></p>
  <p class="col-md-12"><label class="col-md-6">date : </label> <span class="col-md-6">{{todoInput.date | date:"dd-MM-y"}}</span></p>
    <p class="col-md-12">
      <label class="" for="priorite">
      <span class="col-md-6">priorité :</span>
      </label>
      <span class="col-md-6" >  {{todoInput.priority}}</span>
    </p>

  </div>
  <div class="Modifier" *ngIf="edit">
    <span class="col-md-4">
      <label for="text">Texte : </label> <input type="text" name="todoInput.text" value="" [(ngModel)]="todoInput.text">
    </span>
    <span class="col-md-4">
      <label for="date">Date : </label> <input type="date" name="todoInput.date" value="" [(ngModel)]="todoInput.date">
    </span>
    <span class="col-md-4">
      <label for="priority">Priorité : </label>
      <select class="" name="{{todoInput.priority}" [value]="todoInput.priority" [(ngModel)]="todoInput.priority" >
        <option  [value]="1">nulle</option>
        <option  [value]="2">secondaire</option>
        <option  [value]="3">primaire</option>
      </select>
    </span>
  </div>
  <button type="button" name="button" class="btn btn-primary right" (click) = modifierTodo(edit)>{{textbutton}}</button>
</div>
