
<span class="col-md-4">
  <input type="text" name="texte" value="" [(ngModel)]="texte">
</span>
<span class="col-md-4">
  <input type="date" name="date" value="" [(ngModel)]="date">
</span>
<span class="col-md-4">
  <select class="" name="priority" [(ngModel)]="priority"  >
    <option  [value]="1">nulle</option>
    <option  [value]="2">secondaire</option>
    <option  [value]="3">primaire</option>
  </select>
</span>

<button (click)="ajouterList(texte, date, priority)" type="submit" name="button">Valider</button>
