<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-md-8">
    <div style="text-align:center">
      <h1>
        Todolist : Gestionnaire de Taches
      </h1>
    </div><br>
    <div class="row">
        <app-formulaire></app-formulaire>
    </div><br>
    <div class="row">
        <table class="table table-bordered table-hover">
          <thead class="">
            <tr>
              <th scope="col" >Texte</th>
              <th scope="col" >Date</th>
              <th scope="col" >Priorité</th>
              <th scope="col" ></th>
              <th scope="col" >Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of todos let i=index"
          [ngClass]="setClasses(item)" (click) = "afficheTodo(item)"
          (click) = todoCoche(i) [class.coche]="item.estCoche==true"
          >
            <tr>
              <td width="150" >{{item.text}}</td>
              <td width="150">{{item.date | date:"dd-MM-y"}}</td>
              <td width="150">{{item.priority}}</td>
              <td width="20" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
              <td width="20" >
                <button (click)=removeTodo(i) type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- Affiher Details Todo -->
      <todo-details [todoInput] = maTodo></todo-details>
      <!-- Fin Affiher Details Todo -->
  </div>
</div>
